*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
}

body{
margin:0 auto;
}
/* ------header------ */
.web{
  background-color: #ffffff;
}
.base{    
  height: 100px;
  background-color: #ffffff; 
  margin: 0 2rem;
}
.baseBorder{    
  height: 40px;
  background-color: #313538;  
}
.btn_logo01{    
  height: 48px;
  object-fit: contain;
}
.shopHeader li{    
  height: 28px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 30px;
  text-align: center;
  padding-left:30px;    
  color: #3f3a3a;
  border-right:1px solid #3f3a3a;
}
#acces{
border-right:0px;
}

.search{
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 2;
  right:150px;
  top:33px;

}
.combinedShape {
  position: relative;
  width: 214px;
  height: 40px;
  border: solid 1px #979797;
  border-radius: 25px;    
  padding-left: 15px;
}
.moSearch{
  display: none;
  width:100px;
  border: solid 1px #979797;
  border-radius: 25p;    
  font-size:12px;  padding-left: 10px;
  background-color: #ffffff;
}

.cartNum{
  height:20px;
  width: 20px;
  position: absolute;
  z-index: 2;
  top:45px;
  right:85px;
  background-color: orange;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  opacity: 0.7;
}
.btn_shopping-cart01_add {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
.btn_member01_normal {
  width: 44px;
  height: 44px;
  object-fit: contain;
  border-radius: 50%;
  }

#main-banner{
  width:100%; 
  height:550px;   
}
.bannerPic{
  width:100%;
  height:500px;
  animation: fadein 10s ease-in-out;
}
@keyframes fadein{
  0%{
    opacity: .1;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.main-banner-text{
  font-size:30px;
  padding-top:40px;
  margin-left: 100px;
}
.circleZone{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height:50px;
}
.circle{
  background-color:#999; 
  width: 10px;
  height: 10px;
  margin:0 10px;
  border-radius: 25px;
  display:inline-block;
}
.choosen{
  background-color: #3f3a3a;
}

.cartAct{
align-items: center;
}
.cart,
.member,
.btn_member01_mob,
.btn_shopping-mob,
.mobile_nav,
.mobile_logo01,
.mobile_user,
.moSearch,
.search_mo,
.s_search_mo{
display: none;
}

a{
  color:black;
}
/* productContainer */
#p_container{
width:60%;
margin:0 auto;
}

.p_content{  
flex-basis:30%;
padding:20px 10PX; 
font-size: 20px;
}
.p_content img{
  width:100%;
}
.p_color{
display: flex;
flex-direction: row;
margin: 10px 0;
}
.rect {
  width: 24px;
  height: 24px;
  margin-right:10px;
  }
/* footer */
.Rectangle-4 {    
  height: 115px;    
  background-color: #313538;
}
.compDescrib{
margin-right: 50px;
}
.compDescrib li{
  width: 134px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f5f5f5;
  border-right:1px solid white; 
}
.Rectangle-4 a {
  color:white;
}
.Rectangle-4 a:hover {
  color:skyblue;
}

#FAQ{
border-right: 0px;
}
.btn_line01_normal,
.btn_facebook01_normal,
.btn_twitter01_normal {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
}
.copyright {
  width: 152px;
  height: 17px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
}
/* flex box */
.shopHeader,
.userAct,
.cartAct,
.compDescrib,
#p_container,
.footer,
.footer_menu,
.socialMedia,
.Rectangle-4,
.btn_00,
.btn_01{
  display:flex;
  flex-direction: row;
  align-items: center;
}
#p_container{  
  flex-wrap:wrap;
}
.p_content{
  display: flex;
  flex-direction: column;    
}
.userAct,
.socialMedia,
.footer_menu
{
  justify-content: space-between;
  align-items: center;
}
.footer{
justify-content: space-around;
align-items:center;
}
.base,
.btn_01{    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Rectangle-4{
justify-content: space-evenly;
align-items: center;
}

/* Face Book */
/* .fb_iframe_widget {
  display: block;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.FBloginZone{
  margin: 170px auto;
  text-align: center;
  width: 600px;
  border: 1px solid slategrey;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.fb-login-button{
  display: inline-block;
  padding: 20px;
}
.FBlogout,
.FBlogin{
  border-radius: 3px;
  height:40px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid transparent; 
  outline: none;   
  background-color: #3b5998;
  color:white;
  font-size: 16px;
}

.userPic{
  width: 200px;
  height: 200px;
  margin:50px auto;
}
/* media query */
@media (max-width:1200px){
#p_container{
  width:80%;
}
.p_content{
  flex-basis:  50%;
}
.main-banner-text{
  font-size:25px;
  padding-top: 50px;
}
.mobile_nav{
  width: 100%;
  display: flex;
  background-color: #313538;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  color:#ffffff;
}
.mobile_nav li{
  flex:1 30%;
  border-right:1px solid white; 
}
li a{
  color: white;
}
#accessories{
  border-right:0px;
}
.bannerPic{  
  height:400px;
}
#main-banner{
  height:450px;
}
.Rectangle-4{    
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 148px;
}
.footer_menu,
.compDescrib{
  flex-wrap: wrap;
}

.footer_menu{
  height: 114px;
}
.compDescrib li{
  width:100%;
  border-right:0px; 
  display: flex; 
  flex-wrap: wrap;
  flex:1 50%;
  padding: 5px;  
}
.copyright{
  margin:auto;
  
}
.shopHeader,
.baseBorder{ display: none;
} 
}

@media(max-width:720px){
.base{
height:70px;
}

.moSearchBar{
  display: flex;
  align-items: center;
}
.moSearch,
.combinedShape{
  display: none;
  width:120px;
  border: solid 1px #979797;
  border-radius: 25px;    
  font-size:12px;
  padding-left: 10px;
  background-color: #ffffff;
  
}
.search{
  position: static;
}
.cartNum{
  top:33px;
}
.s_search_mo{
  width: 25px;
  height:25px;
}
.rect{
  width: 12px;
  height: 12px;
  }
.cartAct{
margin:0;
}


.btn_logo01{    
height: 30px;
}  
.btn_line01_normal,
.btn_twitter01_normal,
.btn_facebook01_normal {
width: 35px;
height: 35px;
margin-right: 10px;
} 
.socialMedia{
margin-right: 30px;
}
}

@media (max-width:450px) {

/*display none/on*/
.baseBorder,
.btn_shopping-cart01_add,
.btn_member01_normal,
.base{ display: none;
}
.cart,
.member{
display: inline-block;
color:#ffffff;
}
.mobile_nav{
width: 100%;
display: flex;
background-color: #313538;
justify-content: space-between;
height: 50px;
align-items: center;
padding: 0;
margin: 0;
text-align: center;
}
#main-banner{
  height:235px;
}
.bannerPic{
  height:185px;
}


.mobile_logo01{
width: 360px;
display: flex;
height: 50px;
text-align: center;
align-items: center;
justify-content: space-around;
}

.mobile_logo{
height: 20px;
position: relative;  
}

.search_mo{
display: inline-block;
height: 40px;
width: 40px;  
position: absolute; 
right:30px;
top:3px;
}

.s_search_mo{
  width: 25px;
  height:25px; 
}
.btn_shopping-mob,
.btn_member01_mob {
width: 30px;
height: 30px;  
display: inline-block;
}
.socialMedia{
margin-right: 10px;
}
.mobile_user{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex:1 50%;
background-color: #313538;  
position: fixed;
bottom: 0;
}
.cart,
.member{
display: flex;
align-items: center;
padding:0 30px;
}
.mo_cart_center{
color:#ffffff;
}
.main-banner-text{
  font-size:15px;
  padding-top: 25px;
  margin-left:10px;
}

.p_pic{
width:100%;
}
.p_content{
width: 100%;
padding:10px 3px;
font-size: 12px;
}
#p_container{
width:100%;
}
.btn_line01_normal,
.btn_twitter01_normal,
.btn_facebook01_normal {
width: 20px;
height: 20px;
margin-right: 10px;
} 
.footer_menu,
.compDescrib{
flex-wrap: wrap;
}

.footer_menu{
height: 114px;
}

.compDescrib{
flex-grow:4;
}
.socialMedia{
flex-grow: 3;
}
.compDescrib{
margin-right: 0px;
padding-left: 20px;
}
.compDescrib li{
width:100%;
border-right:0px; 
display: flex; 
flex-wrap: wrap;
flex:1 50%;
padding: 5px;

}
.copyright{
margin-bottom:30px;
}

}