main h1{
    text-align: center;
}
.mainTitle{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 20px ;
}
main{
    margin-bottom: 115px;
}
.view{
    margin: 0 auto 130px;
    width: 85%;
}
p{
    text-align: left;
}

ul{
    text-align: left;
}
ul li{
    margin: 10px 0 ;
}
p,ul li{
    line-height: 1.5;
}
main ul li{
    list-style-type:disc;
}
main img{
    margin: 20px auto;
    max-width: 750px;
}
.clothes{
    max-width:750px;
    margin-right: 100px;
}
.faq{
    display: flex;
}
.center{
    margin: 0 20px;
    border-right: 1px solid #979797;
}
.sidebar{
    flex-basis: 30%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar ul li a:hover{
    color:lightslategray;
}
.sidebar ul li{
    font-size: 1rem;
    font-weight: bold;   
}
.sidebar ul{
    width:120px;
}

.faqText ul li{
    max-width:90%;
}

@media(max-width:640px){
.faq{
    flex-direction: column;
}
h1{
    margin-bottom: 20px;
}
p,ul li{
    line-height: 2;
    font-size: 12px;
}
.clothes{
    margin-right: 40px;
}
img{
    width:80%;
}
.faqText ul li{
    max-width:95%;
}
}